/* Reset CSS */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    color: #ff0000; /* Change the color on hover */
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 800px; /* Set maximum width */
    margin: 0 auto; /* Center the main element horizontally */
}

.card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.about-me img {
    max-width: 100%;
}

.web-resources-list {
    list-style-type: none;
    padding: 0;
}

.web-resources-list li {
    margin-bottom: 10px;
}
